name: build and deploy hugo site

on:
  push:
    branches:
      - main
  schedule:
    - cron: '45 5,17 * * *'  # 5:45 AM and 5:45 PM UTC every day

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

      - name: Git checkout
        uses: actions/checkout@v4

      - name: Update theme
        run: git submodule update --init --recursive

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'  # Use a specific version of Python if needed

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r scripts/requirements.txt  # Path to requirements.txt inside the scripts folder

      - name: Run get_links.py
        run: python scripts/get_links.py  # Run your script

        # cleanup tmp folders for now until more effective history functions are made
      - name: Remove tmp_json and tmp_html folders
        run: |
          rm -rf tmp_json tmp_html

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      - name: Build Hugo site
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          personal_token: ${{ secrets.BUILD_TOKEN }}
          external_repository: 00psfreebooks/cletus
          publish_dir: ./public
          publish_branch: published
        #   cname: example.com
